 <div id="trail_page">
   <div class="trail_index">
 
 <head>  
  <title>Running Trails</title>
</head>  
<body>
  <p>
    <a href="/trails/new">Add a trail</a>
  </p>
 <center>
   <img id="picture" src="/images/pic_for_running.png" alt="Pic For Running">
<div id="trails">
   <table>
     <thead>
       <th>Trail Name</th>
       <th>&nbsp;&nbsp;# of Reviews Written</th>
     </thead>
     <tbody>
       <% @all_trails.each do |t| %>
         <tr>
           <td><a href="/trails/<%=t.id%>"><%= t.trail_name || t.id %></a></td>
           <td>&nbsp;&nbsp;<%= t.reviews.count %></td>
         </tr>
       <%end%>
     </tbody>
   </table>

      <h2>The current weather for Omaha, NE:</h2>
      <p>
        <li><%=@forecast.minutely.summary%></li>
        <li>The temperature is <%=@forecast.currently.temperature%> degrees Fahrenheit</li>
        <li>The relative humidity is <%=@forecast.currently.humidity*100%>%</li>
        <li>There is <%=@forecast.currently.precipProbability*100%>% chance of rain</li>
      </p>
        <div id="forecast">
        <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=41.2586100&lon=-95.9377900&name= Omaha"> </iframe>
        </center>
      </div>
    </div>
  </div>
  